<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.hit.project.ec">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/common.app.name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <service
            android:name=".services.NotificationService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:label="@string/common.login"
            android:name=".LoginActivity">
            <intent-filter android:label="@string/common.app.name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/common.register"
            android:name=".RegisterActivity"/>

        <activity
            android:name=".OverviewActivity"
            android:label="@string/title.overview"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".DataActivity"
            android:label="@string/title.data"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:label="@string/common.camera"
            android:name=".VideoActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    </application>

</manifest>